@charset "UTF-8";
html {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 100%;
}
html.is-open {
  position: fixed;
}

body {
  font-family: "mplus-1m", "Roboto", sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFDFA;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.l-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}
.l-wrapper #fadeLayer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  visibility: hidden;
  z-index: 250;
}
.l-wrapper #fadeLayer.is-open {
  visibility: visible;
  -webkit-animation: fadeIn 1s linear forwards;
          animation: fadeIn 1s linear forwards;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@media (min-width: 600px) {
  .l-wrapper #fadeLayer.is-open {
    background-color: #707070;
    opacity: 0.8;
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.8;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.8;
    }
  }
}

.l-header {
  width: 100%;
}
@media (min-width: 1025px) {
  .l-header {
    width: 80%;
  }
}

.l-main {
  width: 100%;
  min-height: 600px;
}
@media (min-width: 600px) {
  .l-main {
    min-height: 800px;
  }
}
@media (min-width: 1025px) {
  .l-main {
    min-height: 1000px;
  }
}

.l-main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .l-main-wrapper {
    flex-direction: row;
  }
}
@media (min-width: 1025px) {
  .l-main-wrapper {
    width: 80%;
  }
}

.l-TakeOut__section {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.l-main-wrapper--archive {
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
@media (min-width: 1025px) {
  .l-main-wrapper--archive {
    width: 80%;
    margin-left: 55px;
  }
}

.l-menu-wrapper {
  width: auto;
}

.l-menu {
  margin-bottom: 20px;
}

.l-pagination {
  width: 100%;
}
@media (min-width: 1025px) {
  .l-pagination {
    width: 80%;
  }
}

.l-main-wrapper--single, .l-main-wrapper--pages {
  width: 100％;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}
@media (min-width: 600px) {
  .l-main-wrapper--single, .l-main-wrapper--pages {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (min-width: 1025px) {
  .l-main-wrapper--single, .l-main-wrapper--pages {
    width: 80%;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (min-width: 1025px) {
  .l-sidebar {
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.l-footer {
  width: 100%;
}
@media (min-width: 1025px) {
  .l-footer {
    height: 80px;
  }
}

.c-button__search-btn {
  width: 5rem;
  height: 2.8rem;
  margin-left: 10px;
  background-color: #F2EDE9;
  border-radius: 10px;
  border: solid 1px #707070;
  font-size: 1rem;
  font-weight: 600;
  color: #707070;
  cursor: pointer;
}
@media (min-width: 600px) {
  .c-button__search-btn {
    width: 6rem;
    height: 2rem;
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 6px;
  }
}
@media (min-width: 1025px) {
  .c-button__search-btn {
    width: 4.5rem;
    height: 26px;
    border-radius: 5px;
    font-size: 6px;
    margin: 10px 5px 3px 0px;
  }
}

.c-button--menu {
  display: block;
  position: absolute;
  top: 15px;
  right: 10px;
  color: #707070;
  font-family: "Roboto";
  font-size: 1.3rem;
  font-weight: 500;
  z-index: 400;
  cursor: pointer;
}
@media (min-width: 600px) {
  .c-button--menu {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media (min-width: 1025px) {
  .c-button--menu {
    display: none;
  }
}
.c-button--menu.is-open {
  display: none;
}

.c-button--menu__close {
  display: none;
  z-index: 400;
}
.c-button--menu__close.is-open {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 25px;
  width: 50px;
  height: 50px;
}
.c-button--menu__close.is-open::before {
  position: absolute;
  top: 25px;
  content: "";
  width: 40px;
  height: 5px;
  background-color: #707070;
  transform: rotate(45deg);
}
@media (min-width: 600px) {
  .c-button--menu__close.is-open::before {
    width: 33px;
    height: 4px;
  }
}
.c-button--menu__close.is-open::after {
  position: absolute;
  top: 25px;
  content: "";
  width: 40px;
  height: 5px;
  background-color: #707070;
  transform: rotate(-45deg);
}
@media (min-width: 600px) {
  .c-button--menu__close.is-open::after {
    width: 33px;
    height: 4px;
  }
}

.c-button--detail {
  display: block;
  width: 170px;
  height: 42px;
  margin: 15px auto 40px auto;
  text-align: center;
  padding: 8px 0px;
  background-color: #FFFFFF;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  color: #707070;
  cursor: pointer;
}
@media (min-width: 600px) {
  .c-button--detail {
    width: 128px;
    height: 32px;
    font-size: 0.8rem;
    padding: 6px 0;
    margin: 10px auto 28px auto;
  }
}
@media (min-width: 1025px) {
  .c-button--detail {
    width: 170px;
    height: 40px;
    padding: 11px 0;
    margin: 10px auto 20px auto;
  }
}

.c-button {
  width: 100%;
  height: 14vh;
  text-align: center;
  background-color: #F2EDE9;
  border: solid 1px #707070;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 600;
  color: #3C2A10;
  cursor: pointer;
}
@media (min-width: 600px) {
  .c-button {
    width: 60%;
    font-size: 0.8rem;
    border-radius: 20px;
    height: 13vh;
  }
}
@media (min-width: 1025px) {
  .c-button {
    width: 28%;
    border-radius: 15px;
    height: 10vh;
  }
}

.wp-pagenavi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px 30px 0px;
}
@media (min-width: 600px) {
  .wp-pagenavi {
    justify-content: center;
    padding: 50px 0 15px 0px;
  }
}
@media (min-width: 1025px) {
  .wp-pagenavi {
    padding: 90px 0 40px 0px;
  }
}
.wp-pagenavi .pages {
  display: none;
  border-style: none;
  color: #707070;
  font-size: 1rem;
  font-weight: 500;
}
@media (min-width: 600px) {
  .wp-pagenavi .pages {
    display: block;
    margin-top: 15px;
  }
}
.wp-pagenavi .previouspostslink {
  display: flex;
  align-items: center;
  border-style: none;
  font-size: 3rem;
  color: #707070;
}
@media (min-width: 600px) {
  .wp-pagenavi .previouspostslink {
    margin-top: 5px;
  }
}
.wp-pagenavi .previouspostslink::after {
  font-size: 1.2rem;
  content: "前へ";
  padding: 5px 0 0 15px;
}
@media (min-width: 600px) {
  .wp-pagenavi .previouspostslink::after {
    display: none;
  }
}
.wp-pagenavi .page, .wp-pagenavi .current {
  display: none;
  color: #707070;
  font-size: 1rem;
  font-weight: 500;
  padding: 6px 9px;
  margin: 10px 15px 0 15px;
}
@media (min-width: 600px) {
  .wp-pagenavi .page, .wp-pagenavi .current {
    display: flex;
  }
}
.wp-pagenavi .current {
  background-color: #3C2A10;
  color: #FFFFFF;
}
.wp-pagenavi .nextpostslink {
  display: flex;
  align-items: center;
  border-style: none;
  font-size: 3rem;
  color: #707070;
}
@media (min-width: 600px) {
  .wp-pagenavi .nextpostslink {
    margin-top: 4px;
  }
}
.wp-pagenavi .nextpostslink::before {
  font-size: 1.2rem;
  content: "次へ";
  padding: 5px 15px 0 0;
}
@media (min-width: 600px) {
  .wp-pagenavi .nextpostslink::before {
    display: none;
  }
}

.c-table {
  margin: 30px 0;
}
@media (min-width: 600px) {
  .c-table {
    margin: 47px 0;
  }
}
@media (min-width: 1025px) {
  .c-table {
    margin: 30px 100px 30px 0;
  }
}
.c-table__list {
  width: 100%;
  border-collapse: collapse;
  border: solid 1px #707070;
  color: #3C2A10;
}
@media (min-width: 600px) {
  .c-table__list {
    font-size: 0.75rem;
  }
}
@media (min-width: 1025px) {
  .c-table__list {
    font-size: 0.7rem;
  }
}
.c-table__list td {
  border: solid 1px #707070;
  padding: 25px 30px;
}
@media (min-width: 600px) {
  .c-table__list td {
    padding: 18px 20px;
  }
}
@media (min-width: 1025px) {
  .c-table__list td {
    padding: 14px 15px;
  }
}
.c-table__list__item--a {
  width: 40%;
}
@media (min-width: 600px) {
  .c-table__list__item--a {
    width: 30%;
  }
}
.c-table__list__item--b {
  width: 60%;
}
@media (min-width: 600px) {
  .c-table__list__item--b {
    width: 70%;
  }
}

.p-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF7EF;
  justify-content: space-between;
}
@media (min-width: 1025px) {
  .p-header {
    flex-direction: row;
  }
}
.p-header h1 {
  padding: 42px;
}
@media (min-width: 600px) {
  .p-header h1 {
    padding: 23px;
  }
}
@media (min-width: 1025px) {
  .p-header h1 {
    padding: 34px;
  }
}
.p-header h1 > a {
  color: #707070;
  font-family: "Roboto";
  font-size: 2.4rem;
}
@media (min-width: 600px) {
  .p-header h1 > a {
    font-size: 1.8rem;
  }
}
@media (min-width: 1025px) {
  .p-header h1 > a {
    font-size: 2.2rem;
  }
}
.p-header__search {
  display: flex;
}
.p-header__search-box {
  width: 14rem;
  height: 2.8rem;
  margin-bottom: 44px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: solid 1px #707070;
  font-size: 1.2rem;
  font-weight: 500;
}
@media (min-width: 600px) {
  .p-header__search-box {
    width: 18rem;
    height: 2rem;
    margin-bottom: 27px;
  }
}
@media (min-width: 1025px) {
  .p-header__search-box {
    width: 14rem;
    height: 25px;
    border-radius: 5px;
    margin: 10px 5px 3px 240px;
  }
}
.p-header__search-box.fa-search {
  font-family: FontAwesome;
  font-size: 1.7rem;
  padding-left: 10px;
}
@media (min-width: 600px) {
  .p-header__search-box.fa-search {
    font-size: 1.3rem;
  }
}
@media (min-width: 1025px) {
  .p-header__search-box.fa-search {
    font-size: 1rem;
  }
}

.p-sidebar {
  display: none;
  background-color: #F2EDE9;
}
.p-sidebar.is-open {
  display: block;
}
@media (min-width: 1025px) {
  .p-sidebar {
    display: block;
  }
}
.p-sidebar .p-global-nav__title {
  display: none;
}
@media (min-width: 1025px) {
  .p-sidebar .p-global-nav__title {
    display: block;
    color: #707070;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 45px 0 40px 25px;
  }
  .p-sidebar .p-global-nav .menu-item-type-taxonomy {
    padding: 0 0 25px 25px;
  }
  .p-sidebar .p-global-nav .menu-item-type-taxonomy > a {
    color: #707070;
    font-family: "mplus-1m";
    font-weight: 600;
    font-size: 1.1rem;
  }
  .p-sidebar .p-global-nav .sub-menu > li {
    padding-top: 15px;
  }
  .p-sidebar .p-global-nav .sub-menu > li:first-child {
    padding-top: 25px;
  }
  .p-sidebar .p-global-nav .sub-menu > li:last-child {
    padding-bottom: 10px;
  }
  .p-sidebar .p-global-nav .sub-menu > li > a {
    color: #707070;
    padding-left: 15px;
    font-family: "mplus-1m";
    font-weight: 100;
    font-size: 1rem;
    cursor: pointer;
  }
}
.p-sidebar .p-global-nav__menu {
  display: none;
}
@media (min-width: 1025px) {
  .p-sidebar .p-global-nav__menu {
    display: block;
  }
}
.p-sidebar .p-global-nav__menu.is-open {
  display: block;
  position: fixed;
  top: 0;
  left: 12%;
  padding-top: 220px;
  width: 100%;
  height: 100%;
  background-color: #F2EDE9;
  z-index: 300;
  overflow-y: scroll;
  -webkit-animation: SlideIn 1.2s;
          animation: SlideIn 1.2s;
}
@-webkit-keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (min-width: 600px) {
  .p-sidebar .p-global-nav__menu.is-open {
    left: 55%;
    width: 100%;
    padding-top: 160px;
  }
}
.p-sidebar .p-global-nav__menu.is-open .menu-item-type-taxonomy {
  padding: 0 0 25px 25px;
}
.p-sidebar .p-global-nav__menu.is-open .menu-item-type-taxonomy > a {
  color: #707070;
  font-family: "mplus-1m";
  font-weight: 600;
  font-size: 1.1rem;
}
.p-sidebar .p-global-nav__menu.is-open .sub-menu > li {
  padding-top: 15px;
}
.p-sidebar .p-global-nav__menu.is-open .sub-menu > li:first-child {
  padding-top: 25px;
}
.p-sidebar .p-global-nav__menu.is-open .sub-menu > li:last-child {
  padding-bottom: 10px;
}
.p-sidebar .p-global-nav__menu.is-open .sub-menu > li > a {
  color: #707070;
  padding-left: 15px;
  font-family: "mplus-1m";
  font-weight: 100;
  font-size: 1rem;
  cursor: pointer;
}

.p-main-visual {
  width: 100%;
  height: 46vh;
  background-image: url(../images/mainvisual-iphone.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
@media (min-width: 600px) {
  .p-main-visual {
    width: 100%;
    height: 35vh;
    background-image: url(../images/mainvisual-tab.jpg);
  }
}
@media (min-width: 1025px) {
  .p-main-visual {
    width: 80%;
    height: 45vh;
    background-image: url(../images/mainvisual-pc.jpg);
  }
}
.p-main-visual h2 {
  color: #FFFFFF;
  font-size: 2.3rem;
  padding-left: 20px;
  font-family: "mplus-1m";
}
@media (min-width: 600px) {
  .p-main-visual h2 {
    font-size: 1.6rem;
    padding-left: 60px;
  }
}
@media (min-width: 1025px) {
  .p-main-visual h2 {
    font-size: 1.7rem;
  }
}
.p-main-visual--archive {
  position: relative;
  width: 100%;
  height: 48vh;
  background-image: url(../images/mainvisual_archive_sp.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .p-main-visual--archive {
    height: 36vh;
    background-image: url(../images/mainvisual_archive_lg.jpg);
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1025px) {
  .p-main-visual--archive {
    width: 80%;
    height: 40vh;
    background-image: url(../images/mainvisual_archive_lg.jpg);
  }
}
.p-main-visual--archive::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #000000;
  opacity: 0.5;
}
.p-main-visual--archive > h2 {
  color: #FFFFFF;
  font-size: 2.2rem;
  padding: 100px 0 3px 35px;
  z-index: 100;
}
@media (min-width: 600px) {
  .p-main-visual--archive > h2 {
    padding: 0 0 0 60px;
    font-size: 2.6rem;
  }
}
@media (min-width: 1025px) {
  .p-main-visual--archive > h2 {
    font-size: 2.1rem;
  }
}
.p-main-visual--archive > p {
  color: #FFFFFF;
  padding-left: 35px;
  z-index: 100;
  font-size: 1rem;
}
@media (min-width: 600px) {
  .p-main-visual--archive > p {
    padding: 5px 0 0 13px;
    font-size: 1.2rem;
  }
}
.p-main-visual--single {
  width: 100%;
  height: 40vh;
  background-image: url(../images/mainvisual_single.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
@media (min-width: 600px) {
  .p-main-visual--single {
    width: 100%;
    height: 62vh;
  }
}
@media (min-width: 1025px) {
  .p-main-visual--single {
    width: 80%;
    height: 52vh;
  }
}
.p-main-visual--single h2 {
  color: #FFFFFF;
  font-size: 2.1rem;
  padding-left: 20px;
  font-family: "mplus-1m";
}
@media (min-width: 600px) {
  .p-main-visual--single h2 {
    font-size: 2.7rem;
    padding-left: 60px;
  }
}
@media (min-width: 1025px) {
  .p-main-visual--single h2 {
    font-size: 2.1rem;
  }
}
.p-main-visual--page {
  width: 100%;
  height: 40vh;
  background-image: url(../images/mainvisual_page_sp.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
@media (min-width: 600px) {
  .p-main-visual--page {
    width: 100%;
    height: 62vh;
  }
}
@media (min-width: 1025px) {
  .p-main-visual--page {
    background-image: url(../images/mainvisual_page.png);
    width: 80%;
    height: 52vh;
  }
}
.p-main-visual--page h2 {
  color: #FFFFFF;
  font-size: 2.3rem;
  padding-left: 50px;
  font-family: "mplus-1m";
}
@media (min-width: 600px) {
  .p-main-visual--page h2 {
    font-size: 2.7rem;
    padding-left: 60px;
  }
}
@media (min-width: 1025px) {
  .p-main-visual--page h2 {
    font-size: 2.3rem;
  }
}

.p-main__article--TakeOut {
  position: relative;
  width: auto;
  height: 114vh;
  margin: 20px;
  background-image: url(../images/take-out.jpg);
  background-size: cover;
  background-position: center;
}
@media (min-width: 600px) {
  .p-main__article--TakeOut {
    width: 100%;
    height: 85vh;
    margin: 30px;
  }
}
@media (min-width: 1025px) {
  .p-main__article--TakeOut {
    height: 103vh;
    margin: 59px 43px 70px 55px;
  }
}
.p-main__article--TakeOut h3 {
  position: relative;
  padding: 20px 15px;
  width: 100%;
  height: 100%;
}
@media (min-width: 600px) {
  .p-main__article--TakeOut h3 {
    padding: 11px 8px;
  }
}
.p-main__article--TakeOut h3 > a {
  color: #EAEAEA;
  font-family: "Roboto";
  font-size: 2.4rem;
  display: block;
  width: 100%;
  height: 100%;
}
@media (min-width: 600px) {
  .p-main__article--TakeOut h3 > a {
    font-size: 1.9rem;
  }
}
@media (min-width: 1025px) {
  .p-main__article--TakeOut h3 > a {
    font-size: 2.6rem;
  }
}
.p-main__article--TakeOut h3::after {
  position: absolute;
  content: "";
  background-color: #FFFFFF;
  width: 2.2rem;
  height: 0.2rem;
  top: 90px;
  left: 16px;
}
@media (min-width: 600px) {
  .p-main__article--TakeOut h3::after {
    width: 1.6rem;
    top: 65px;
    left: 9px;
  }
}
@media (min-width: 1025px) {
  .p-main__article--TakeOut h3::after {
    width: 2rem;
    height: 2px;
    top: 83px;
  }
}

.p-main__article--EatIn {
  position: relative;
  align-items: flex-end;
  width: auto;
  height: 114vh;
  margin: 0px 20px 45px 20px;
  background-image: url(../images/eat-in.jpg);
  background-size: cover;
  background-position: center;
}
@media (min-width: 600px) {
  .p-main__article--EatIn {
    width: 100%;
    height: 85vh;
    margin: 30px 30px 30px 0;
  }
}
@media (min-width: 1025px) {
  .p-main__article--EatIn {
    height: 103vh;
    margin: 59px 43px 70px 0px;
  }
}
.p-main__article--EatIn h3 {
  position: relative;
  padding: 20px 15px;
  width: 100%;
  height: 100%;
}
@media (min-width: 600px) {
  .p-main__article--EatIn h3 {
    padding: 11px 8px;
  }
}
.p-main__article--EatIn h3 > a {
  color: #FFFFFF;
  font-family: "Roboto";
  font-size: 2.4rem;
  display: block;
  width: 100%;
  height: 100%;
}
@media (min-width: 600px) {
  .p-main__article--EatIn h3 > a {
    font-size: 1.9rem;
  }
}
@media (min-width: 1025px) {
  .p-main__article--EatIn h3 > a {
    font-size: 2.6rem;
  }
}
.p-main__article--EatIn h3::after {
  position: absolute;
  content: "";
  background-color: #FFFFFF;
  width: 2.2rem;
  height: 0.2rem;
  top: 90px;
  left: 16px;
}
@media (min-width: 600px) {
  .p-main__article--EatIn h3::after {
    width: 1.6rem;
    top: 65px;
    left: 9px;
  }
}
@media (min-width: 1025px) {
  .p-main__article--EatIn h3::after {
    width: 2rem;
    height: 2px;
    top: 83px;
  }
}

.p-TakeOut__list {
  height: 28vh;
  width: auto;
  background-color: #FFFFFF;
  opacity: 0.8;
  margin: 10px;
}
@media (min-width: 600px) {
  .p-TakeOut__list {
    height: 22vh;
  }
}
@media (min-width: 1025px) {
  .p-TakeOut__list {
    height: 15vh;
  }
}
.p-TakeOut__list > h4 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #3C2A10;
  padding: 20px 0 0 11px;
}
@media (min-width: 600px) {
  .p-TakeOut__list > h4 {
    font-size: 1rem;
    padding: 14px 0 0 10px;
  }
}
@media (min-width: 1025px) {
  .p-TakeOut__list > h4 {
    font-size: 1.2rem;
  }
}
.p-TakeOut__list > a {
  font-size: 1rem;
  color: #3C2A10;
  padding: 20px 11px;
  display: block;
  width: 100%;
  height: 100%;
}
@media (min-width: 600px) {
  .p-TakeOut__list > a {
    font-size: 0.8rem;
    padding: 14px 0 0 10px;
  }
}

.p-archive__content {
  width: auto;
  margin: 20px 0;
}
.p-archive__content > h3 {
  color: #3C2A10;
  font-size: 1.7rem;
  padding-top: 10px;
}
@media (min-width: 600px) {
  .p-archive__content > h3 {
    font-size: 1.6rem;
  }
}
@media (min-width: 1025px) {
  .p-archive__content > h3 {
    font-size: 1.4rem;
  }
}
.p-archive__content > p {
  color: #3C2A10;
  padding: 30px 20px 0 0;
}
@media (min-width: 600px) {
  .p-archive__content > p {
    font-size: 0.8rem;
    padding: 20px 0 10px 0;
  }
}
@media (min-width: 1025px) {
  .p-archive__content > p {
    padding-right: 160px;
  }
}

.p-top__content {
  color: #3C2A10;
  padding-top: 30px;
}
@media (min-width: 600px) {
  .p-top__content {
    padding-top: 40px;
  }
}
.p-top__content > h2 {
  font-size: 2.2rem;
}
.p-top__content > h3 {
  font-size: 1rem;
  padding: 30px 0;
}
@media (min-width: 600px) {
  .p-top__content > h3 {
    font-size: 0.8rem;
    padding: 40px 0;
  }
}
@media (min-width: 1025px) {
  .p-top__content > h3 {
    padding: 27px 100px 27px 0;
  }
}
.p-top__content > h4 {
  font-size: 1.5rem;
  padding-bottom: 30px;
}
@media (min-width: 600px) {
  .p-top__content > h4 {
    font-size: 1.3rem;
    padding-bottom: 40px;
  }
}
@media (min-width: 1025px) {
  .p-top__content > h4 {
    font-size: 1.2rem;
    padding-bottom: 30px;
  }
}
.p-top__content > h5 {
  font-size: 1.3rem;
  padding-bottom: 30px;
}
@media (min-width: 600px) {
  .p-top__content > h5 {
    font-size: 0.9rem;
    padding-bottom: 40px;
  }
}
@media (min-width: 1025px) {
  .p-top__content > h5 {
    padding-bottom: 30px;
  }
}

.p-search {
  color: #3C2A10;
  font-size: 1.2rem;
  margin-bottom: 30px;
  padding: 20px;
}
.p-search > p {
  padding-top: 10px;
  font-size: 1rem;
}

.p-main--page {
  color: #3C2A10;
}
.p-main--page > h2 {
  padding: 20px;
  font-size: 2.1rem;
}
.p-main--page > p {
  padding-bottom: 20px;
}
@media (min-width: 1025px) {
  .p-main--page > p {
    padding: 0 80px 20px 0;
  }
}
.p-main--page > h3 {
  padding: 20px;
}
.p-main--page > h4 {
  padding: 20px;
}

.p-main__map {
  position: relative;
  height: 119vh;
}
@media (min-width: 600px) {
  .p-main__map {
    height: 51vh;
  }
}
@media (min-width: 1025px) {
  .p-main__map {
    width: 80%;
    height: 55vh;
  }
}
.p-main__map iframe {
  width: 100%;
  height: 119vh;
  filter: brightness(70%);
  -webkit-filter: brightness(70%);
}
@media (min-width: 600px) {
  .p-main__map iframe {
    height: 51vh;
  }
}
@media (min-width: 1025px) {
  .p-main__map iframe {
    height: 55vh;
  }
}
.p-main__map__layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70vh;
  background-color: #000000;
  opacity: 0.4;
  z-index: 100;
}
@media (min-width: 600px) {
  .p-main__map__layer {
    height: 51vh;
  }
}
@media (min-width: 1025px) {
  .p-main__map__layer {
    height: 55vh;
    width: 61%;
  }
}
.p-main__map__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 200;
}
@media (min-width: 1025px) {
  .p-main__map__content {
    width: 61%;
  }
}
.p-main__map__content > h5 {
  position: relative;
  color: #FFFFFF;
  font-size: 1.8rem;
  top: 40px;
  left: 40px;
}
@media (min-width: 600px) {
  .p-main__map__content > h5 {
    font-size: 1.3rem;
    top: 30px;
    left: 30px;
  }
}
@media (min-width: 1025px) {
  .p-main__map__content > h5 {
    font-size: 1.4rem;
    top: 43px;
    left: 60px;
  }
}
.p-main__map__content > h5::after {
  position: absolute;
  content: "";
  background-color: #FFFFFF;
  width: 5rem;
  height: 0.2rem;
  top: 60px;
  left: 1px;
}
@media (min-width: 600px) {
  .p-main__map__content > h5::after {
    width: 3.5rem;
    height: 0.08rem;
    top: 45px;
  }
}
@media (min-width: 1025px) {
  .p-main__map__content > h5::after {
    width: 2.5rem;
    top: 57px;
  }
}
.p-main__map__content > p {
  color: #FFFFFF;
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 2.4;
  padding: 70px 30px 0px 40px;
}
@media (min-width: 600px) {
  .p-main__map__content > p {
    font-size: 0.7rem;
    line-height: 2.3;
    padding: 60px 30px 0px 30px;
  }
}
@media (min-width: 1025px) {
  .p-main__map__content > p {
    font-size: 0.6rem;
    padding: 90px 30px 0px 60px;
    line-height: 2;
  }
}

.p-menu {
  width: auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .p-menu {
    flex-direction: row;
  }
}
.p-menu__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 600px) {
  .p-menu__img {
    width: 50%;
  }
}
@media (min-width: 1025px) {
  .p-menu__img {
    width: 43%;
  }
}
.p-menu__content {
  width: 100%;
  background-color: #3C2A10;
  color: #FFFFFF;
  padding-left: 18px;
  padding-top: 20px;
}
@media (min-width: 600px) {
  .p-menu__content {
    width: 50%;
    padding-top: 30px;
  }
}
@media (min-width: 1025px) {
  .p-menu__content {
    width: 43%;
  }
}
.p-menu__content__title {
  font-size: 1.3rem;
  padding: 30px 0 25px 0;
}
@media (min-width: 600px) {
  .p-menu__content__title {
    padding: 20px 0 20px 10px;
  }
}
@media (min-width: 1025px) {
  .p-menu__content__title {
    font-size: 1.4rem;
    padding: 25px 0 23px 15px;
  }
}
.p-menu__content > h4 {
  margin-left: 10px;
  font-size: 1.6rem;
}
.p-menu__content > h2 {
  text-align: left;
  font-size: 1.2rem;
  margin: 0 30px 10px 10px;
}
.p-menu__content > p {
  margin: 0 30px 50px 10px;
}

.p-blockquote {
  padding: 30px 20px;
  background-color: #f5f5f5;
  color: #3C2A10;
}
@media (min-width: 600px) {
  .p-blockquote {
    font-size: 0.75rem;
    padding: 40px 35px;
  }
}
@media (min-width: 1025px) {
  .p-blockquote {
    font-size: 0.7rem;
    padding: 27px 27px 27px 27px;
    margin-right: 107px;
  }
}
.p-blockquote > p {
  padding-top: 25px;
}
.p-blockquote > p > a {
  color: #4a6c9b;
  border-bottom: solid 1px;
}

.p-food {
  padding: 30px 0 25px 0;
}
@media (min-width: 600px) {
  .p-food {
    padding: 40px 0 170px 0;
  }
}
@media (min-width: 1025px) {
  .p-food {
    padding: 35px 0 35px 0;
  }
}
.p-food__main-photo {
  width: 100%;
  background-size: cover;
}
@media (min-width: 1025px) {
  .p-food__main-photo {
    padding-right: 107px;
    height: 50vh;
  }
}
.p-food__entry--top {
  display: flex;
  padding: 30px 0;
  height: 40vh;
  color: #3C2A10;
}
@media (min-width: 600px) {
  .p-food__entry--top {
    padding: 40px 0;
    height: 60vh;
  }
}
@media (min-width: 1025px) {
  .p-food__entry--top {
    padding: 35px 0;
    height: 42vh;
  }
}
.p-food__entry--top__image {
  background-size: cover;
  width: 45%;
  height: 16vh;
}
@media (min-width: 600px) {
  .p-food__entry--top__image {
    height: 30vh;
  }
}
@media (min-width: 1025px) {
  .p-food__entry--top__image {
    height: 35vh;
  }
}
.p-food__entry--top__text {
  margin: 0;
  padding-left: 10px;
  overflow-y: hidden;
}
@media (min-width: 600px) {
  .p-food__entry--top__text {
    font-size: 0.75rem;
  }
}
@media (min-width: 1025px) {
  .p-food__entry--top__text {
    font-size: 0.8rem;
    padding: 0 105px 0 23px;
  }
}
.p-food__entry--bottom {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 30px;
  height: 35vh;
  color: #3C2A10;
}
@media (min-width: 600px) {
  .p-food__entry--bottom {
    padding: 40px 0;
    height: 60vh;
  }
}
@media (min-width: 1025px) {
  .p-food__entry--bottom {
    padding: 35px 0;
    height: 42vh;
    margin-right: 107px;
  }
}
.p-food__entry--bottom__image {
  background-size: cover;
  width: 45%;
  height: 16vh;
}
@media (min-width: 600px) {
  .p-food__entry--bottom__image {
    height: 30vh;
  }
}
@media (min-width: 1025px) {
  .p-food__entry--bottom__image {
    height: 35vh;
  }
}
.p-food__entry--bottom__text {
  margin: 0;
  overflow-y: hidden;
  padding-right: 10px;
}
@media (min-width: 600px) {
  .p-food__entry--bottom__text {
    font-size: 0.75rem;
  }
}
@media (min-width: 1025px) {
  .p-food__entry--bottom__text {
    font-size: 0.8rem;
  }
}
.p-food__sub-photo {
  width: 100%;
  padding: 10px 30px 0 30px;
  background-size: cover;
}
@media (min-width: 600px) {
  .p-food__sub-photo {
    padding: 10px 80px 0 80px;
  }
}
@media (min-width: 1025px) {
  .p-food__sub-photo {
    padding: 30px 285px 0 195px;
  }
}

.p-photo__list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .p-photo__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 15px 12px;
  }
}
@media (min-width: 1025px) {
  .p-photo__list {
    grid-template-columns: repeat(3, 1fr);
    margin-right: 100px;
    gap: 12px;
  }
}
.p-photo__list__item {
  padding-bottom: 20px;
}
@media (min-width: 600px) {
  .p-photo__list__item {
    width: 100%;
    padding-bottom: 0;
  }
}

.p-list {
  color: #3C2A10;
}
@media (min-width: 600px) {
  .p-list {
    padding: 50px 0 10px 0;
    font-size: 0.75rem;
  }
}
@media (min-width: 1025px) {
  .p-list {
    padding: 40px 0 0px 30px;
  }
}
.p-list--block1 {
  padding-bottom: 30px;
}
@media (min-width: 600px) {
  .p-list--block1 {
    padding-bottom: 15px;
  }
}
@media (min-width: 1025px) {
  .p-list--block1 {
    padding: 0;
  }
}
.p-list--block2 {
  padding: 30px 0;
}
@media (min-width: 1025px) {
  .p-list--block2 {
    padding: 35px 0;
  }
}
.p-list__item--b {
  padding: 20px;
}
@media (min-width: 600px) {
  .p-list__item--b {
    padding: 15px;
  }
}
@media (min-width: 1025px) {
  .p-list__item--b {
    padding: 10px;
  }
}

.p-code {
  background-color: #f5f5f5;
  color: #3C2A10;
  font-size: 0.9rem;
  padding: 30px 0 5px 0;
  line-height: 1.6;
}
@media (min-width: 600px) {
  .p-code {
    font-size: 0.7rem;
    padding-top: 20px;
  }
}
@media (min-width: 1025px) {
  .p-code {
    padding-top: 15px;
    margin-right: 100px;
  }
}

.p-text--bold {
  font-weight: 600;
  color: #3C2A10;
  padding: 30px 0 70px 0;
}
@media (min-width: 600px) {
  .p-text--bold {
    font-size: 0.75rem;
    padding: 42px 0 48px 0;
  }
}
@media (min-width: 1025px) {
  .p-text--bold {
    font-size: 0.8rem;
    padding: 30px 0 100px 0;
  }
}

.p-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/footer.png);
}
.p-footer__information {
  padding: 40px 0 30px 0;
}
@media (min-width: 600px) {
  .p-footer__information {
    padding: 25px 0;
  }
}
@media (min-width: 1025px) {
  .p-footer__information {
    padding: 15px 0;
  }
}
.p-footer .menu > ul {
  display: flex;
}
.p-footer .menu > ul .page_item > a {
  color: #FFFFFF;
}
.p-footer .menu > ul .page-item-12 {
  position: relative;
  padding-right: 25px;
}
.p-footer .menu > ul .page-item-12::after {
  position: absolute;
  content: "";
  background-color: #FFFFFF;
  width: 1.6px;
  height: 1.2rem;
  top: 3px;
  left: 108px;
}
@media (min-width: 600px) {
  .p-footer .menu > ul .page-item-12::after {
    height: 1rem;
    width: 1px;
  }
}
.p-footer > p {
  color: #FFFFFF;
  padding-bottom: 30px;
}
@media (min-width: 600px) {
  .p-footer > p {
    padding-bottom: 20px;
    font-size: 0.5rem;
  }
}
@media (min-width: 1025px) {
  .p-footer > p {
    font-size: 0.3rem;
  }
}

.p-main--404page {
  margin: 100px 0 0 10px;
  color: #3C2A10;
}
.p-main--404page > h2 {
  font-size: 1.4rem;
  text-align: center;
}
@media (min-width: 600px) {
  .p-main--404page > h2 {
    padding-top: 50px;
    font-size: 1.6rem;
  }
}
@media (min-width: 1025px) {
  .p-main--404page > h2 {
    text-align: left;
    padding-left: 150px;
  }
}
.p-main--404page__text {
  padding-top: 30px;
}
@media (min-width: 600px) {
  .p-main--404page__text {
    text-align: center;
  }
}
@media (min-width: 1025px) {
  .p-main--404page__text {
    text-align: left;
    padding-left: 150px;
  }
}
@media (min-width: 600px) {
  .p-main--404page__url {
    text-align: center;
  }
}
@media (min-width: 1025px) {
  .p-main--404page__url {
    text-align: left;
    padding-left: 150px;
  }
}
.p-main--404page__home {
  padding-top: 30px;
}
@media (min-width: 600px) {
  .p-main--404page__home {
    text-align: center;
  }
}
@media (min-width: 1025px) {
  .p-main--404page__home {
    text-align: left;
    padding-left: 150px;
  }
}/*# sourceMappingURL=style.css.map */