.wp-pagenavi{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 50px 0px 30px 0px;
    @include mq(tab) {
        justify-content: center;
        padding: 50px 0 15px 0px;
    }

    @include mq(pc) {
        padding: 90px 0 40px 0px;
    }

    .pages{
        display: none;
        border-style: none;
        color: $dark-gray;
        font-size: 1rem;
        font-weight: 500;

        @include mq(tab) {
           display: block;
           margin-top: 15px;
        }
    }

    .previouspostslink{
        display: flex;
        align-items: center;
        border-style: none;
        font-size: 3rem;
        color: $dark-gray;
        @include mq(tab) {
            margin-top: 5px;
        }
        &::after {
            font-size: 1.2rem;
            content: "前へ";
            padding: 5px 0 0 15px;
            @include mq(tab) {
                display: none;
            }
        }
    }

    .page,.current{
        display: none;
        color: $dark-gray;
        font-size: 1rem;
        font-weight: 500;
        padding: 6px 9px;
        margin: 10px 15px 0 15px;

        @include mq(tab) {
           display: flex;
        }
    }
    .current{
        background-color: $brown;
        color: $first-white;
    }
    .nextpostslink{
        display: flex;
        align-items: center;
        border-style: none;
        font-size: 3rem;
        color: $dark-gray;
        @include mq(tab) {
            margin-top: 4px;
        }
        &::before {
            font-size: 1.2rem;
            content: "次へ";
            padding: 5px 15px 0 0;
            @include mq(tab) {
                display: none;
            }
        }
    }
}