.c-table{
    margin: 30px 0;
    @include mq(tab){
        margin: 47px 0;
    }
    @include mq(pc){
        margin: 30px 100px 30px 0;
    }
    &__list{
        width: 100%;
        border-collapse: collapse; //隣接するセルのボーダーを重ねて表示
        border: solid 1px $dark-gray;
        color: $brown;
        @include mq(tab){
            font-size: 0.75rem;
        }
        @include mq(pc){
            font-size: 0.7rem;
        }
        
        td{
            border: solid 1px $dark-gray;
            padding: 25px 30px;
            @include mq(tab){
                padding:18px 20px;
            }
            @include mq(pc){
                padding: 14px 15px;
            }
        }
    
        &__item--a{
            width: 40%;
            @include mq(tab){
                width: 30%;
            }
        }
        &__item--b{
            width: 60%;
            @include mq(tab){
                width: 70%;
            }
        }
    }
}

