.p-sidebar{
    display: none;
    background-color: $bg-dark-beige; 

    &.is-open{
        display: block;
    }
    @include mq(pc){
        display: block;
    }

    .p-global-nav{
        &__title{
            display: none;
        }

        @include mq(pc){
            &__title{
                display: block;
                color: $dark-gray;
                font-size: 1.5rem; //wp化の時サイズ調整
                font-weight: 500;
                padding: 45px 0 40px 25px; //wp化の時サイズ調整
            }
           
            //----------------------------
            //WP化ーナビゲーションメニュー
            //----------------------------
            .menu-item-type-taxonomy { 
                padding: 0 0 25px 25px;            
                >a{
                    color: $dark-gray;
                    font-family: 'mplus-1m';
                    font-weight: 600;
                    font-size: 1.1rem;
                }
            }
            .sub-menu >li{
                padding-top: 15px;
                &:first-child{
                    padding-top: 25px;
                }
                &:last-child{
                    padding-bottom: 10px;
                }
                >a{
                    color: $dark-gray;
                    padding-left: 15px;
                    font-family: 'mplus-1m';
                    font-weight:100;
                    font-size: 1.0rem;
                    cursor: pointer;
                }
            }                      
        }//@include(PC)
    }//p-global-nav

    .p-global-nav__menu{
        display: none;

        @include mq(pc){
            display: block;
        }
         
        &.is-open{
            display: block ;
            position: fixed; //メニュー固定されることでスクロールできる
            top: 0;
            left: 12%;
            padding-top: 220px;
            width: 100%;
            height: 100%;
            background-color: $bg-dark-beige;
            z-index: 300;
            overflow-y: scroll;
            animation: SlideIn 1.2s; //slideするアニメーション

                //slideinアニメーション設定//
                @keyframes SlideIn {
                    0% {
                        opacity: 0;//初まりは透明//
                        transform: translateX(50px); //右から左へ
                    }
                    100% {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
                
            @include mq(tab){
                left: 55%;
                width: 100%;
                padding-top: 160px;
            }

            //----------------------------
            //WP化ーナビゲーションメニュー
            //----------------------------
            .menu-item-type-taxonomy { 
                padding: 0 0 25px 25px;            
                >a{
                    color: $dark-gray;
                    font-family: 'mplus-1m';
                    font-weight: 600;
                    font-size: 1.1rem;
                }
            }
            .sub-menu >li{
                padding-top: 15px;
                &:first-child{
                    padding-top: 25px;
                }
                &:last-child{
                    padding-bottom: 10px;
                }
                >a{
                    color: $dark-gray;
                    padding-left: 15px;
                    font-family: 'mplus-1m';
                    font-weight:100;
                    font-size: 1.0rem; 
                    cursor: pointer;
                }
            }                        
        }//.is-open
    }//.p-global-nav__menu
}//.p-sidebar

