.p-main-visual{
    width: 100%;
    height: 46vh;
    background-image: url(../images/mainvisual-iphone.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;

    @include mq(tab){
        width: 100%;
        height: 35vh;
        background-image: url(../images/mainvisual-tab.jpg);
    }

    @include mq(pc){
        width: 80%;
        height: 45vh;
        background-image: url(../images/mainvisual-pc.jpg);
    }
   
    h2{
        color:$first-white;
        font-size: 2.3rem;
        padding-left: 20px;
        font-family:"mplus-1m"; 
        
        @include mq(tab){
            font-size: 1.6rem;
            padding-left: 60px;
        }

        @include mq(pc){
            font-size: 1.7rem;
        }    
    }

    //mainvisual--archive開始//
    &--archive{
        position: relative;
        width: 100%;
        height: 48vh;
        background-image: url(../images/mainvisual_archive_sp.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;

        @include mq(tab){
            height: 36vh;
            background-image: url(../images/mainvisual_archive_lg.jpg);
            flex-direction: row;
            align-items: center;
           
        }
        @include mq(pc){
            width: 80%;
            height: 22vh;
            background-image: url(../images/mainvisual_archive_lg.jpg); 
        }

        &::before{
            position: absolute;
            width: 100%;
            height: 100%;
            content:"";
            background-color: $black;
            opacity: 0.5;
        }
        
        >h2{
            color: $first-white;
            font-size: 2.2rem;
            padding: 100px 0 3px 35px;
            z-index: 100; //文字まで暗くなるので、z-indexで手前に指定

            @include mq(tab){
                padding:0 0 0 60px;
                font-size: 2.6rem; 
            }

            @include mq(pc){
                font-size: 2.1rem;
            }
        }
        >p{
            color: $first-white;
            padding-left: 35px;
            z-index: 100;

            @include mq(tab){
                padding: 11px 0 0 13px;
                font-size: 0.8rem; 
            }
        }
    }//main-visual--archive終了

    &--single{
        width: 100%;
        height: 40vh;
        background-image: url(../images/mainvisual_single.png);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;

            @include mq(tab){
                width: 100%;
                height: 62vh;
            }

            @include mq(pc){
                width: 80%;
                height: 52vh;
            }
   
        h2{
            color:$first-white;
            font-size: 2.1rem;
            padding-left: 20px;
            font-family:"mplus-1m"; 
        
            @include mq(tab){
                font-size: 2.7rem;
                padding-left: 60px;
            }

            @include mq(pc){
                font-size: 2.1rem;
            }    
        }
    }//p-main-visual_single

    &--page{
        width: 100%;
        height: 40vh;
        background-image: url(../images/mainvisual_page_sp.png);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;

            @include mq(tab){
                width: 100%;
                height: 62vh;
            }

            @include mq(pc){
                background-image: url(../images/mainvisual_page.png);
                width: 80%;
                height: 52vh;
            }
   
        h2{
            color:$first-white;
            font-size: 2.3rem;
            padding-left: 50px;
            font-family:"mplus-1m"; 
        
            @include mq(tab){
                font-size: 2.7rem;
                padding-left: 60px;
            }
            @include mq(pc){
                font-size: 2.3rem;
            }    
        }
    }//p-mainvisual--page
}//p-main-visual