//=============================================
//front-page
//=============================================
.p-main__article--TakeOut{
    position: relative;
    width:auto;
    height: 114vh;
    margin: 20px;
    background-image: url(../images/take-out.jpg);
    background-size: cover;
    background-position: center;

    @include mq(tab){
        width: 100%;
        height: 85vh;
        margin: 30px;
    }

    @include mq(pc){
        height: 103vh;
        margin: 59px 43px 70px 55px;
    }
    
    h3{
        position: relative;
        padding: 20px 15px;
        width: 100%; //linkの指定範囲拡大のため
        height: 100%;//linkの指定範囲拡大のため
        @include mq(tab){
            padding: 11px 8px;   
        }

        >a{
            color:$second-white;
            font-family:'Roboto';
            font-size: 2.4rem;
            display: block;//リンク範囲をボックスいっぱいに拡張するためbox要素にかえる
            width: 100%; //親要素と同じ範囲までaタグを広げる
            height: 100%; //親要素と同じ範囲までaタグを広げる
            
            @include mq(tab){
                font-size: 1.9rem;   
            }
            @include mq(pc){
                font-size: 2.6rem;
            }
        }
        &::after{
            position: absolute;
            content: "";
            background-color:$first-white;
            width: 2.2rem;
            height: 0.2rem;
            top: 90px;
            left: 16px;

            @include mq(tab){
                width: 1.6rem;
                top: 65px; 
                left:9px;
            }

            @include mq(pc){
                width: 2.0rem;
                height: 2px;
                top: 83px;
            }
        }  
    }
}//p-main__article--TakeOut

.p-main__article--EatIn{
    position: relative;
    align-items: flex-end;
    width:auto;
    height: 114vh;
    margin: 0px 20px 45px 20px;
    background-image: url(../images/eat-in.jpg);
    background-size: cover;
    background-position: center;

    @include mq(tab){
        width: 100%;
        height: 85vh;
        margin: 30px 30px 30px 0;
    }

    @include mq(pc){
        height: 103vh;
        margin: 59px 43px 70px 0px;
    }

    h3{
        position: relative;
        padding: 20px 15px;
        width: 100%;//linkの指定範囲拡大のため
        height: 100%;//linkの指定範囲拡大のため
        @include mq(tab){
            padding: 11px 8px;   
        }
        >a{
            color:$first-white;
            font-family:'Roboto';
            font-size: 2.4rem;
            display: block;//リンク範囲をボックスいっぱいに拡張するためbox要素にかえる
            width: 100%;//親要素と同じ範囲までaタグを広げる
            height: 100%;//親要素と同じ範囲までaタグを広げる

            @include mq(tab){
                font-size: 1.9rem;   
            }
            @include mq(pc){
                font-size: 2.6rem;
            }
        }
        &::after{
            position: absolute;
            content: "";
            background-color:$first-white;
            width: 2.2rem;
            height: 0.2rem;
            top: 90px;
            left: 16px;

            @include mq(tab){
                width: 1.6rem;
                top: 65px; 
                left:9px;
            }

            @include mq(pc){
                width: 2.0rem;
                height: 2px;
                top: 83px;
            }
        }  
    }
}//p-main__article--EatIn

.p-TakeOut__list{
    height: 28vh;
    width: auto;
    background-color: $first-white;
    opacity: 0.8;
    margin: 10px;

    @include mq(tab){
        height: 22vh;
    }
    @include mq(pc){
        height: 15vh;
    }

    >h4{
        font-size: 1.3rem;
        font-weight:700;
        color:$brown;
        padding: 20px 0 0 11px;

        @include mq(tab){
            font-size: 1rem;
            padding: 14px 0 0 10px;
        }

        @include mq(pc){
            font-size: 1.2rem;
        }
    }

    >a{
        font-size: 1.0rem;
        color: $brown;
        padding: 20px 11px;
        display: block; //リンク範囲をボックスいっぱいに拡張するためbox要素にかえる
        width:100%; //親要素と同じ範囲までaタグを広げる
        height: 100%; //親要素と同じ範囲までaタグを広げる

        @include mq(tab){
            font-size: 0.8rem;
            padding: 14px 0 0 10px;
        }
    }
}
//======================================================
//archive
//======================================================
.p-archive__content{
    width: auto;
    margin: 20px 0;
    
   >h3{
       color:$brown;
       font-size: 1.7rem;
       padding-top: 10px;

        @include mq(tab){
            font-size: 1.6rem; 
        }

        @include mq(pc){
            font-size: 1.4rem; 
        }
    }
   >p{
       color: $brown;
       padding: 30px 20px 0 0;

        @include mq(tab){
            font-size: 0.8rem;
            padding: 20px 0 10px 0; 
        }

        @include mq(pc){
            padding-right: 160px; 
        }
    }
}

//==================================================
//singleページ
//==================================================
.p-top__content{
    color: $brown;
    padding-top:30px;

    @include mq(tab){
        padding-top: 40px;
    }

    >h2{
        font-size: 2.2rem;
    }
    >h3{
        font-size: 1.0rem;
        padding: 30px 0;

        @include mq(tab){
            font-size: 0.8rem;
            padding: 40px 0;
        } 
        @include mq(pc){
            //font-size: 0.7rem;
            padding: 27px 100px 27px 0;
        } 
    }
    >h4{
        font-size: 1.5rem;
        padding-bottom: 30px;
        @include mq(tab){
            font-size: 1.3rem;
            padding-bottom: 40px;
        }
        @include mq(pc){
            font-size: 1.2rem;
            padding-bottom: 30px;
        } 
    }
    >h5{
        font-size: 1.3rem;
        padding-bottom: 30px;
        @include mq(tab){
            font-size: 0.9rem;
            padding-bottom: 40px;
        }
        @include mq(pc){
            //font-size: 0.8rem;
            padding-bottom: 30px;
        } 
    }
}
//==========================================
//WP化、検索アーカイブのスタイリング
//==========================================
.p-search{ //WP
    color: $brown;//WP
    font-size: 1.2rem;//WP
    margin-bottom: 30px;
    padding: 20px;
    >p{
        padding-top: 10px;
        font-size: 1rem;
    }
}

//==========================================
//WP化、固定ページのスタイリング
//==========================================
.p-main--page{ 
    color: $brown;
    >h2{
        padding: 20px;
        font-size: 2.1rem;
    }
    >p{
        padding-bottom: 20px;

        @include mq(pc){
            padding: 0 80px 20px 0;
        }
    }
    >h3{
        padding: 20px;
    }
    >h4{
        padding: 20px;
    }
    //テーマチェックエラーのため追記
    .sticky {
        margin-top: 20px;
        font-size: 2.3rem;
    }
    .bypostauthor{
        font-weight: 400;
        color:$black;
    }
    .alignright{
        margin-right: 20px;
    } 
    .alignleft {
        margin-left: 20px;
    }
    .aligncenter {
        margin: 30px auto 40px auto;
    }
}


