.p-photo__list{
    display: flex;
    flex-direction: column;

    @include mq(tab){
        display: grid;
        grid-template-columns: repeat(2, 1fr); //列の設定、repeat() 関数はトラックのリストのすべてまたは一部を繰り返すことができる。１fr(=fraction) という単位を使用すると柔軟にグリッドのトラック（行と列）のサイズを設定できる。
        grid-template-rows: 1fr; //行の設定
        gap: 15px 12px;//行間のギャップ（row-gap）及び列間のギャップ（column-gap）の両方を同時に設定
    }

    @include mq(pc){
        grid-template-columns: repeat(3, 1fr);//1frのトラックのパターンを3回繰り返す
        margin-right: 100px;
        gap: 12px;
    }
    
    &__item{
        padding-bottom: 20px;
        @include mq(tab){
            width: 100%;
            padding-bottom: 0;
        }
    }

    //テーマチェックエラーのため追記
    .gallery-caption{
        display: flex;
      }
}