.l-main{
    width: 100%;
}

.l-main-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;

    @include mq(tab){
        flex-direction: row;
    }

    @include mq(pc){
        width: 80%;
    }
}

.l-TakeOut__section{
    position: absolute;
    width: 100%;
    bottom: 0;   
}

//archive//
.l-main-wrapper--archive{
    width: auto;
    display: flex;
    flex-direction: column;
    //align-items: center;
    margin:0 20px;

    @include mq(pc){
        width: 80%;
        margin-left:55px;
    }
}
.l-menu-wrapper{
    width: auto;
}
.l-menu{
    margin-bottom: 20px;
}
.l-pagination{
    width: 100%;
    @include mq(pc){
        width: 80%;
    }
}

//single, page//
.l-main-wrapper--single,.l-main-wrapper--pages{
    width: 100ï¼…;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;

    @include mq(tab){
        margin-left: 40px;
        margin-right: 40px;
    }
    @include mq(pc){
        width: 80%;
        margin-left:50px;
        margin-right:50px;
    }
}






